
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* --- MAIN CONTENT --- */
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}


.dName {
  font-weight: 500;
  background-color: rgb(19, 78, 60);
  color: #ffffff;
  border-radius: 4px;
  font-size: 13px;
  display: inline-block;
  padding: 0px 4px;
  margin: 0px 0;
}

.dDef {
  color: #8d8d8d;
  margin: 0 0 10px 0;
  font-size: 12px;
}


.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.card1 {
  border-radius: 8px;
  background-color: #ffffff;
  width: 350px;
  padding: 20px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.card1 > .imgContent {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1 > .imgContent img {
  width: 250px;
  height: auto;
}

.card1 > .imgContent img:hover {
  scale: 1.04;
  cursor: pointer;
}

.btn a {
  display: flex;
  text-decoration: none;
}

.btn a > button {
  margin-top: 10px;
  flex-grow: 1;
  padding: 8px 0px;
  color: #ffffff;
  font-size: 13px;
  border-radius: 500px;
  cursor: pointer;
  font-weight: 500;
  align-items: center;
  border: 1px solid #4c8a7a;
  background: rgb(19, 78, 60);
}

.btn a > button:hover,
.btn a > button:active {
  color: #fff;
  border: 1px solid transparent;
  opacity: 0.9;
}

.card1:has(.btn a > button:hover),
.card1:has(.btn a > button:active) {
  transform: translateY(-4px);
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.13);
  border: 1px solid rgb(233, 233, 233);
}

.card1:has(.btn a > button:hover) .imgContent img {
  scale: 1.03;
}

footer {
  margin-top: auto;

}

/* --- RESPONSIVE --- */
@media only screen and (max-width: 1100px) {
  .card {
    margin-top: 160px;
    grid-template-columns: 1fr 1fr;
  }
  footer{
    position: relative;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    margin-top: 780px;
    grid-template-columns: 1fr;
  }

}
